html, body {
  height: 100%;
}

body {
  display: flex;
  background-color: #a1caf1;
  align-items: stretch;
  margin-left: 2em;
  margin-right: 2em;
}

textarea,
input,
button {
  padding: .3em;
}

#app-data {
  display: none;
}





/* Chat */

.chat {
  width: 100%;
  max-width: 900px;
  margin: 2em auto;
  padding: 2em;
  background: white;
  display: flex;
  flex-flow: column nowrap;
}





/* Chat Header */

.chat-header {
  margin: 0;
  padding: 0;
  padding-bottom: .5em;
  margin-bottom: .5em;
  border-bottom: .01em solid lightgrey;
}





/* Chat Content */

.chat-content {
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
}

.chat-main-message {
  font-size: 2em;
  font-style: italic;
  text-align: center;
  justify-content: center;
  flex: 1;
  display: inline-flex;
  flex-flow: column nowrap;
  color: grey;
}

.chat-messages {
  margin-top: auto;
  display: flex;
  flex-flow: column-reverse nowrap;
}


/* Chat Message */

.chat-message {
  padding: 1em 0;
}

.chat-message:first-child {
  padding-bottom: 0;
}
.chat-message:last-child {
  padding-top: 0;
}

.chat-message-header {
  margin-bottom: .5em;
}

.chat-message-text {
  font-size: 1.5em;
}

.chat-message-text q {
  color: #008141;
}
.chat-message-text q::after,
.chat-message-text q::before {
  content: '';
}





/* Chat Editor */

.chat-editor {
  padding-top: 1em;
  margin-top: 1em;
  border-top: .02em solid lightgrey;
}

.chat-editor-message {
  width: 100%;
  max-height: 11.5em;
  box-sizing: border-box;
  resize: none;
  overflow: auto;
}

.chat-editor-buttons {
  display: flex;
  margin-top: .5em;
}

.chat-editor-button-clear {
  margin-left: auto;
}
